@import '../config';

%ArticleActions {
  position: absolute;
  color: white;
  right: 15px;
  min-height: 45px;
  top: 35px;
  bottom: $Footer_height;
  padding-right: 5px;
  width: $ArticleActions_width;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  transition: $default-transitions;
  overflow: hidden;
  opacity: 1;
  z-index: 100;
  .button-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  // states
  &.is-expanded {

  }
  &.is-small {
    #InfoToggle, #ArticleInfo {
      display: none;
    }
  }
  &.is-collapsed {
    width: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
    > #ArticleInfo {
      display: none;
    }
  }
  > #ArticleInfo {
    transition: $default-transitions;
    background: rgba(45, 45, 45, 0.5);
    font-family: $base-font;
    margin-top: 10px;
    font-size: 20px;
    align-self: stretch;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    // states
    &.is-collapsed {
      flex-grow: 0.001;
      flex-basis: 0;
      opacity: 0;
    }
    &.is-expanded {
      flex-grow: 1;
      opacity: 1;
    }
    .title {
      font-size: 45px;
      width: 100%;
      background-size: cover !important;
      height: 100px;
      display: flex;
    }
    .description {
      margin-top: 15px;
      padding-left: 10px;
      font-size: 17px;
      font-style: italic;
    }
  }
}