@import '../config';

%Footer {
  background: $app-background url($arrow-pattern);
  height: $Footer_height;
  font-size: $Footer_font-size;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  color: $Footer_color;
  * {
    margin-right: 10px;
  }
  a {
    font-weight: bold;
  }
}