@import '../config';

%Article {
  align-self: stretch;
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  transition: $default-transitions;
  > #Article_body {
    align-self: center;
    flex-grow: 1;
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
  }
}

%Frame {
  flex-grow: 100;
  min-height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 8vh;
  font-family: $article-title-font;
  align-self: stretch;
  transition: $default-transitions;
  position: relative;
  color: white;
  background: $frame-bg;
  // states
  &.is-collapsed {
    flex-shrink: 1;
    flex-grow: 0.0001;
    flex-basis: 0;
    > #Article {
      opacity: 0;
    }
    #Article_body {
      z-index: -1;
    }
  }
  &.is-expanded {
    flex-grow: 100;
    > #Article {
      opacity: 1;
    }
  }
  > #Article {
    @extend %Article;
  }
}