@import '../config';

$SourcesView-background: 'transparent';
$SourcesView-color: white;

%SourcesView {
  transition: $default-transitions;
  opacity: 0;
  background: $SourcesView-background;
  color: $SourcesView-color;
  margin: 0;
}