@import '../config';
@import '../mixins';
@import './SourcesView';
@import '../modules/toggle';

%Credits {
  color: #b8b8b8;
  font-family: monospace;
  > * {
    margin-left: 15px;
  }
  i {
    padding-right: 10px;
  }
  transition: $fadein-transition;
}

%SourcesPanel_header {
  flex-shrink: 0;
  transition: $default-transitions;
  width: 100%;
  height: $SourcesPanel_header-height;
  color: $SourcesPanel_header-color;
  z-index: 2;
  position: relative;
  background: $article-nodes-background;
  overflow: visible;
  #SourcesPanelToggle {
    @extend %toggle;
    position: absolute;
    right: 30px;
    top: -35px;
  }
  .title {
    text-align: center;
    color: #255a70;
    background: #a3bf8a;
    border-radius: 50%;
    border: #272727 solid 2px;
    z-index: 1;
    position: absolute;
    top: -20px;
    transition: $default-transitions;
    font-size: $SourcesPanel_header-height;
    width: $SourcesPanel_header-height;
    height: $SourcesPanel_header-height;
    padding: 4px;
    cursor: pointer;
    &:hover {
      background: lighten(#a3bf8a, 20);
    }
  }
}

%SourcesPanel {
  @include cardlike(none);
  display: flex;
  flex-shrink: 0;
  flex-flow: column nowrap;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  transition: $default-transitions;
  position: relative;
  overflow: visible;
  background: $frame-bg;
  z-index: 10;
  > #Credits {
    @extend %Credits;
  }
  > #SourcesView_container {
    overflow: auto;
    position: absolute;
    top: $SourcesPanel_header-height;
    left:0;
    right:0;
    bottom:0;
    padding: 30px;
  }
  #SourcesView {
    z-index: 3;
    @extend %SourcesView;
  }
  // states
  &.is-small {
    flex-basis: $SourcesPanel_header-height;
    flex-grow: 0.0001;
  }
  &.is-collapsed {
    flex-basis: 0;
    flex-grow: 0.0001;
    overflow: hidden;
  }
  &.is-expanded {
    flex-grow: 100;
    #SourcesView {
      opacity:1;
    }
    > #SourcesPanel_header .title {
      font-size: $SourcesPanel_header-font-size;
      width: $SourcesPanel_header-font-size;
      height: $SourcesPanel_header-font-size;
      padding: 7px;
    }
  }
  &.is-collapsed, &.is-small {
    > #SourcesView_container {
      overflow: hidden !important;
      height: 0;
      top:0;
      padding: 0;
    }
  }
  > #SourcesPanel_header {
    @extend %SourcesPanel_header;
  }
}