@import '../config';
@import '../mixins';

%TitleBar {
  @include cardlike(bottom);
  transition: $default-transitions;
  flex-shrink: 0;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  color: $article-nodes-color;
  .title {
    font-size: 35px;
    position: relative;
    z-index: 10;
    font-family: 'LibertineDisplay', serif;
    .link {
      margin-left: 10px;
    }
  }
  overflow: hidden;
  background: $article-nodes-background;
  &.is-expanded {
    flex-grow: 1;
    max-height: 1000px;
  }
  &.is-collapsed {
    flex-grow: 0.0001;
    max-height: 0;
  }
  .actions {
    display: flex;
  }
}