@import '../config';

%toggle {
  font-size: 17px;
  background: inherit;
  cursor: pointer;
  border-top: black solid 1px;
  border-left: black solid 1px;
  border-right: black solid 1px;
  border-radius: 20px 20px 0 0;
  i {
    padding: 9px;
  }
  .label {
    font-family: $base-font;
    font-size: 14px;
    padding: 9px;
  }
  &:hover {
    background: #4149a1;
  }
}