@import '../config';

%toggle {
  font-size: 17px;
  background: inherit;
  border-radius: 20px 20px 0 0;
  cursor: pointer;
  border: 1px solid #7d7d7d;
  border-bottom-width: 0;
  i {
    padding: 9px;
  }
  .label {
    font-family: $base-font;
    font-size: 14px;
    padding: 9px;
  }
  &:hover {
    background: #4149a1;
  }
}