@import './fonts.scss';
@import './mixins.scss';

$default-placeholder-color: rgba(111, 78, 105, 0.7);
$default-links-color: rgba(111, 78, 105, 0.7);
$info-color: #1c7bff;
$error-color: #c00000;
$success-color: #008e00;
$app-background: #d6d6d6;

$header-height: 80px;

@include placeholder {
    color: $default-placeholder-color;
}

a {
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  color: $default-links-color;
}

pre {
  font-family: monospace;
  white-space: pre-wrap;
}

textarea:focus, input:focus, textarea, input {
  outline: none;
  border: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Bariol', sans-serif;
  font-weight: 200;
}

i {
  &.error {
    color: $error-color;
  }
  &.success {
    color: $success-color;
  }
  &.info {
    color: $info-color;
  }
}

.small-font {
  font-size: 14px;
}

.flex-column-centered {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.flex-inline-centered {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.fa-spin {
  animation: fa-spin 0.6s infinite linear;
}

.padded {
  padding: 5px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  max-width: 250px;
  > i {
    font-size: 30px;
    padding: 5px;
    padding-right: 15px;
  }
  text-align: center;
  padding: 2px;
  padding-right: 10px;
  vertical-align: middle;
  line-height: 1em;
  cursor: pointer;
  align-self: center;
  color: $info-color;
  &:hover {
    background: #97b3f9;
  }
  background: rgba(45, 45, 45, 0.1);
}

.feedback {
  text-align: center;
  color: black;
  font-size: 30px;
  width: 60px;
  padding: 10px;
}

#Root {
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
  width: 100vw;
  > #Header {
    height: $header-height;
    background: $app-background;
    display: flex;
    align-items: center;
    justify-content: space-between;
    > #Title {
      padding-left: 10px;
      text-align: center;
      font-size: 45px;
      > #Subtitle {
        font-size: 15px;
        word-spacing: 8px;
        letter-spacing: 5px;
      }
    }
    > .feedback {
      flex-grow: 1;
    }
    > #UrlSearch {
      flex-grow: 100000;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      margin: 10px 10px 10px 60px;
      width: 80vw;
      max-width: 1200px;
      padding: 10px;
      border-radius: 30px;
      background: white;
      #UrlInput {
        flex-grow: 1;
        font-size: 18px;
        background: inherit;
        text-align: center;
        color: $info-color;
      }
      #UrlFeedback {
        width: 40px;
        font-size: 25px;
        text-align: center;
      }
    }
    > #AnalysisOutput {
      flex-grow: 1;
      margin: 10px;
      align-self: stretch;
      background: #111023;
      color: whitesmoke;
    }
  }
  > #Frame {
    flex-grow: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 45px;
  }
  > #Footer {
    background: $app-background;
    height: 20px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #536b7e;
    * {
      margin-right: 10px;
    }
  }
  > #SourcesPanel {
    $sources-panel-header-height: 40px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100vw;
    flex-grow: 0.0001;
    transition: all 0.6s ease;
    flex-basis: 500px;
    background: #3b3432;
    color: white;
    > pre {
      overflow: auto;
      margin:auto;
      background: rgba(180, 180, 180, 0.1);
      padding: 30px;
    }
    &[data-ui-state=small] {
      flex-basis: $sources-panel-header-height;
    }
    &[data-ui-state=collapsed] {
      flex-basis: 0;
      overflow: hidden;
    }
    > #SourcesPanel_header {
      transition: all 1s ease;
      width: 100%;
      font-size: 20px;
      text-align: center;
      height: $sources-panel-header-height;
      color: black;
      background: $app-background;
    }
  }
}
